<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-sanitize.js"></script>
    <script src="~/Scripts/angular-translate.js"></script>   
    <script src="~/app/app.template.js"></script>
    <script src="~/app/app.module.js"></script>
    <script src="~/app/app.route.js"></script>
    <script src="~/app/components/Category/categoryService.js"></script>
    <script src="~/app/components/Category/categoryController.js"></script>
    <script src="~/app/components/titles/titleService.js"></script>
    <script src="~/app/components/titles/titleController.js"></script>
    <script src="~/app/components/comments/commentsService.js"></script>
    <script src="~/app/components/comments/commentsController.js"></script>
</head>
<body>
        
    
    <div class="container" ng-app="myApp">
        <h1 class="" translate="FORUM_TITLE"></h1>
        <div class="dropdown pull-right">
            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" translate="LANG_SWITCH">                
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" ng-controller="langCtrl">
                <li><a translate="BUTTON_LANG_EN" ng-click="setEnglish()"></a></li>
                <li><a translate="BUTTON_LANG_FR" ng-click="setFrench()"></a></li>
            </ul>
        </div>
        <div class="page-header page-heading">

            <ol class="breadcrumb pull-right where-am-i">
                <li><a href="#/" translate="HOME_LINK"></a></li>
                <li><a href="#category" translate="CATEGORIES_TITLE"></a></li>
            </ol>
        </div>
        <div ng-view></div>
        @RenderBody()
    </div>
    @*<script>
          var app = angular.module('myApp', []);
          app.controller('myCtrl', function ($scope) {
              $scope.name = "John Doe";
          });
    </script>*@
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
