<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*@Scripts.Render("~/bundles/angular")*@
    @*@Scripts.Render("~/bundles/customJS")*@
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
    @*script src="~/Scripts/angular-route.js"></script>*@
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

    <script src="~/app/app.route.js"></script>

    <script src="~/app/components/Category/categoryService.js"></script>
    <script src="~/app/components/Category/categoryController.js"></script>
    <script src="~/app/components/titles/titleService.js"></script>
    <script src="~/app/components/titles/titleController.js"></script>
    <script src="~/app/components/comments/commentsService.js"></script>
    <script src="~/app/components/comments/commentsController.js"></script>
</head>
<body>
    <h1 class="pull-left">SimpleForum</h1>
    <div class="container" ng-app="myApp">
        <div class="page-header page-heading">

            <ol class="breadcrumb pull-right where-am-i">
                <li><a href="#/">Home</a></li>
                <li><a href="#london">Categories</a></li>
            </ol>
        </div>
        <div ng-view></div>
        @RenderBody()
    </div>
    @*<script>
          var app = angular.module('myApp', []);
          app.controller('myCtrl', function ($scope) {
              $scope.name = "John Doe";
          });
    </script>*@
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
